.job-list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 1);
}

.job-list-container {
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    grid-column-gap: calc(var(--index) * 2);
}

.job-list-container-left {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * .5);
}

.job-list-container-right {
    display: flex;
    flex-direction: column;
    gap: clamp(7px, calc(var(--index) * .3), 20px);
}

.job-list-container-right-item {
    border: 1px solid rgba(0,0,0, .2);
    padding: calc(var(--index) * .8) calc(var(--index) * .5);
    border-radius: calc(var(--index) * .3);
    transform: .2s all ease;

    &:hover {
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
    }
}

.job-list-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.job-list-pagination button {
    border: unset;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
        background: #f75860;
    }
}

.job-list-pagination button img {
    width: 30%;
}

.job-list-pagination-active {
    background: var(--main-color);
    color: white;
}



@media (max-width: 800px) {
    .job-list-container {
        grid-template-columns: 1fr;
        grid-row-gap: calc(var(--index) * 2);
    }
}