.faq-page {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 1.5);
}

.faq-page-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 1);
}

.faq-page-container-item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(25px, calc(var(--index) * .6), 100px) clamp(15px, calc(var(--index) * .6), 100px);
    border: 1px solid rgba(0,0,0, .2);
    border-radius: calc(var(--index) * .4);
    cursor: pointer;
}

.faq-page-container-item-title span svg {
    width: clamp(25px, calc(var(--index) * .65), 40px);
    padding: 0;
    margin: 0;
    rotate: 0;
    transition: all ease .2s;
}

.faq-page-container-item-active svg {
    rotate: 180deg !important;
    transition: all ease .2s;
}

.faq-page-container-item-text {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * .3);
    overflow: hidden;
    max-height: 0;
    margin-top: 0;
    transition: all .2s ease;
    opacity: 0;
    padding: 0 calc(var(--index) * .7);
}

.faq-page-container-item-text.question-active {
    max-height: 400px;
    margin-top: calc(var(--index) * .5);
    transition: all .2s ease;
    opacity: 1;
}


